.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.drop_shadow {
    filter: drop-shadow(0px 4px 4px var(--shadow));
}

.text-shadow {
    text-shadow: var(--shadow) 0 4px 4px;
}