:root {
	//color
	--lightSkyBlue: #49DEFF;
	--turquoise: #4FFFDF;
	--primaryDarkGray: #303030;
	--darkGray: #4E4E4E;
	--mediumGrey: #DEDEDE;
	--lightGrey: #F4F4F4;
	--whiteSmoke: #F9F9F9;
	--white: #FFFFFF;
	--shadow: #00000040;
	--black: #000000;

	//animation
	--transition: .3s;

}