	//color
	$lightSkyBlue: #49DEFF;
	$turquoise: #4FFFDF;
	$primaryDarkGray: #303030;
	$darkGray: #4E4E4E;
	$mediumGrey: #DEDEDE;
	$lightGrey: #F4F4F4;
	$whiteSmoke: #F9F9F9;
	$white: #FFFFFF;
	$shadow: #00000040;
	$whiteShadow: #ffffff40;
	$black: #000000;

	//animation
	$transition: .3s;

	//breakpoints
	$xs: 360px; // Extra small devices | Portrait phones (<34em : 22.5em)
	$sm: 544px; // Small devices | Landscape phones (≥34em)
	$md: 768px; // Medium devices | Tablets (≥48em)
	$lg: 992px; // Large devices | Desktops (≥62em)
	$xl: 1200px; // Extra large devices | Desktops (≥75em)
	$xxl: 1920px; // Mega large Desktops | Desktops (≥120em)