.header__block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: -webkit-image-set(url('../../img/background-first-block.webp') 1x,
            url('../../img/background-first-block@2x.webp') 2x);
    background-repeat: no-repeat;
    background-position: center center;
}

// .header {}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $lg) {
    }
}

.header__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo-link {
    display: flex;
    align-items: center;
    color: $primaryDarkGray;
}

// .header__logo-img {}

.header__logo-name {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    font-family: 'Jost', sans-serif;
    margin-left: 5px;
    -webkit-text-stroke-color: $black;
    -webkit-text-stroke-width: 1px;
    @media (max-width: $lg) {
        font-size: 20px;
    }
}

.header__navigation {
    @media (max-width: $md) {
        display: none;
    }

}

.header__list {
    display: flex;
    column-gap: 35px;

    @media (max-width: $xl) {
        column-gap: 20px;
    }

    @media (max-width: $lg) {
        column-gap: 0px;
    }
}

.header__nav-link {
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: $primaryDarkGray;
    @media (max-width: $lg) {
       font-size: 18px;
    }

}

.header__list-item:not(:last-child),
.header__list-item-mobile:not(:last-child) {
    position: relative;
    transition: all $transition ease-in-out;
    &:hover {
		filter: drop-shadow(0px 4px 4px $shadow);

		& > a {
			color: $white;
            transition: all $transition ease-in-out;
		}
	}

	&:after {
		display: block;
		position: absolute;
		border-radius: 5px;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		width: 100%;
		height: 1px;
		content: '.';
		color: transparent;
		background: $primaryDarkGray;
		opacity: 0;
		z-index: -1;
		transition: all .3s;
	}

	&:hover:after {
		opacity: 1;
		visibility: visible;
		height: 100%;
	}
}

.header__list-item:not(:last-child) {
    display: flex;
    align-items: center;
}

.header__list-item:last-child,
.header__list-item-mobile:last-child {
    background-color: $primaryDarkGray;
    border-radius: 5px;
    transition: all $transition ease-in-out;
    filter: drop-shadow(0px 4px 4px $shadow);

    &:hover {
        filter: drop-shadow(0px 4px 4px $white);

        & > a {
            transition: all $transition ease-in-out;
            color: $primaryDarkGray;
        }
    }

    &:after {
        display: block;
        position: absolute;
        border-radius: 5px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 1px;
        content: '.';
        color: transparent;
        background: $white;
        opacity: 0;
        z-index: -1;
        transition: all $transition ease-in-out;
    }

    &:hover:after {
        opacity: 1;
        visibility: visible;
        height: 100%;
    }

    & > a {
        color: $white;
        padding: 12px 38px;
    }
}



//mobile-nav
.mobile-nav {
	position: fixed;
	left: 0;
	top: -100%;
	width: 100%;
	height: 100%;
	z-index: 99;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background: #49deff50;
	transition: all 0.2s ease-in;
}

.mobile-nav--open {
	top: 0;
}

.mobile-nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	font-size: 28px;
}

.header__navigation-mobile {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__list-mobile {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
}

.header__list-item-mobile:not(:last-child) {
	padding: 12px 10px;
}

.header__nav-link-mobile {
	text-align: center;
	color: $primaryDarkGray;
	font-weight: 500;
    display: inline-flex;
}