.mobile-nav {
	position: fixed;
	left: 0;
	top: -100%;
	width: 100%;
	height: 100%;
	z-index: 99;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background: #49deff50;
	transition: all 0.2s ease-in;
}

.mobile-nav--open {
	top: 0;
}

.mobile-nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	font-size: 28px;
}

.header__navigation-mobile {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__list-mobile {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
}

.header__list-item-mobile:not(:last-child) {
	position: relative;
	padding: 12px 10px;

	&:hover {
		filter: drop-shadow(0px 4px 4px var(--shadow));

		.header__nav-link-mobile {
			color: var(--white);
		}
	}

	&:after {
		display: block;
		position: absolute;
		border-radius: 5px;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		width: 100%;
		height: 1px;
		content: '.';
		color: transparent;
		background: var(--primaryDarkGray);
		visibility: none;
		opacity: 0;
		z-index: -1;
		transition: all .3s;
	}

	&:hover:after {
		opacity: 1;
		visibility: visible;
		height: 100%;
	}
}

.header__list-item-mobile:last-child {
	padding: 12px 38px;
	background-color: var(--primaryDarkGray);
	border-radius: 5px;
	transition: all var(--transition);

	.header__nav-link-mobile {
		color: var(--white);
		transition: all var(--transition);
	}

	&:hover {
		background-color: var(--white);

		.header__nav-link-mobile {
			color: var(--primaryDarkGray);
		}
	}
}

.header__nav-link-mobile {
	text-align: center;
	color: var(--primaryDarkGray);
	font-weight: 500;

}